* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/*-------------------
    Header style
 --------------------*/

header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 1322px;

}

/*-----------------------------------------
        navigation-bar styles
    ---------------------------------------*/


.navigation-bar {
    padding: 30px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 674px;

}

.company-name {
    font-size: 20px;
    color: #181818;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menu ul a {
    text-decoration: none;
    color: #181818;
    font-size: 18px;
}

/*------------------------------------------------
header-title-description-button-image styles
--------------------------------------------------*/

.all-content {
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.head-title {
    font-size: 64px;
    color: #131313;
    margin-bottom: 20px;
}

.head-description {
    font-size: 16px;
    color: #727272;
    align-items: center;
    margin-bottom: 40px;
}

.btn-primary {
    background: orange;
    color: white;
    width: 180px;
    height: 64px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 60px;
}

/*-----------------------------
quick-list-features-styles
-------------------------------*/

.quick-list {
    display: flex;
    margin-top: 300px;
    justify-content: center;
    gap: 80px;
}

.quick-list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.quick-list-text-content {
    margin-top: 220px;
}

.quick-list-title {
    font-size: 45px;
    color: #727272;
    margin-bottom: 15px;
}

.of-our {
    color: #131313
}

.features {
    color: #FF900E;
}

.quick-list-description {
    font-size: 16px;
    color: #727272;
    margin-bottom: 20px;
}

/*---------------------------
features-love-enjoy
-----------------------------*/
.features-love-enjoy {
    display: flex;
    margin-top: 200px;
    gap: 147px;
    justify-content: center;
    margin-bottom: 100px;
}

.features-main-title-description {}

.features-title {
    border-left: 4px solid orange;
    font-size: 45px;
    color: #131313;
    padding: 10px;
}

.features-description {
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
    margin-bottom: 20px;
}

.features-services {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    width: 586px;
    height: 171px;
}

.services-text {
    padding: 15px;
}

.service-title {
    font-size: 20px;
    color: #131313;
    margin-top: 10px;
    margin-bottom: 10px;

}

.service-description {
    font-size: 16px;
    color: #727272;
    line-height: 28px;
}

.year-experience {
    text-align: center;
    margin-top: -200px;
}

/*------------------------
Experience-button styles
--------------------------*/

.btn-year {
    width: 300px;
    height: 150px;
    font-size: 60px;
    line-height: 40px;
    color: #FFFFFF;
}

.btn-year span {
    font-size: 25px;

}

/*---------------------
Some-facts styles
-----------------------*/

.some-facts {
    margin-top: 300px;
    margin-left: 250px;
    margin-bottom: 200px;
}

.some-facts-title {
    font-size: 45px;
    color: #131313;
    margin-bottom: 10px;
}

.some-fact-description {
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}

/*------------------------------------
Our-total-work animation styles
--------------------------------------*/
.total-work-summary {
    text-align: center;
    margin-bottom: 200px;

}

.work-summary {
    display: flex;
    gap: 100px;
    justify-content: center;

}

.summary {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(43, 43, 43);
    box-shadow: 0px 4px 30px rgb(128, 128, 128);

}

.summary:hover {
    animation: rotate 2s ease-in-out .6s 3;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.summary-content {
    margin-top: 40px;

}

.work-count {
    font-size: 45px;
    color: #fffcfc;
    margin-top: 10px;
    margin-bottom: 20px;
}

.work-description {
    font-size: 20px;
    color: #ffffff;
}

/*----------------------------------
Personal-think & I-think-my-info
------------------------------------*/
.info-title {
    text-align: center;
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 90px;
    color: #181818;
}

.my-all-content {
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-bottom: 300px;

}

.my-image img {
    width: 600px;
    height: 800px;
    border-radius: 20px;
}

.my-text {
    margin-top: 300px;
}

.my-name {
    font-size: 45px;
    color: #FF900E;
    margin-bottom: 20px;
}

.my-description {
    font-size: 16px;
    color: #727272;
    margin-bottom: 20px;
}

/*------------------------------
Our Sponspors-styles
--------------------------------*/
.sponsors-text {
    text-align: center;
}

.sponsor-title {
    font-size: 45px;
    color: #131313;
    margin-bottom: 10px;
}

.sponsors-description {
    font-size: 16px;
    color: #727272;
}

.sponsors-company {
    margin-top: 100px;
}

.company-logo {
    justify-content: center;
    display: flex;
    gap: 150px;
    margin-bottom: 300px;
}

/*-------------
footer-styles
---------------*/
.footer-description {
    color: #424242;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 30px;
    background: #4efcab;
    width: 100%;
    height: 60px;

}

/*--------------------
Responsive Styles
----------------------*/

@media only screen and (max-width:566px) {
    nav{
        flex-direction: column;
        gap: 0;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        gap: 20px;     
        text-align: center;
        margin-top: 30px;
    }
    .text-content{
        padding: 20px;
        margin-top: 20px;
    }
    .head-image img{
        width: 100%;
    }
    .quick-list{
        flex-direction: column;
        
    }
    .quick-list-image{
        padding: 15px;
    }
    .quick-list-text-content{
        padding: 15px;
        margin-top: -20px;
    }
    .quick-list-image{
        grid-template-columns: repeat(1, 1fr);

    }
    .features-love-enjoy{
        flex-direction: column;
        gap: 0;
        
    }
    .features-main-title-description{
        padding: 20px;
    }
    .features-services{
        width: 100%;
        height: 220px;
    }
    .features-images{
        padding: 10px;
    }
    .features-images img{
        width: 100%;
        
    }
    .some-facts{
        text-align: center;
        margin-left: 0;
        padding: 20px;
        margin-top: 100px;
    }
    .work-summary {
        flex-direction: column;
        gap: 60px;
        margin-top: -60px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
   .main-title{
    text-align: center;
   }
   .my-all-content{
    flex-direction: column;
    gap: 0;
    margin-top: -60px;
   }
   .my-image{
    padding: 5px;
   }
   .my-image img{
    width: 100%;
    height: 600px;
   }
   .my-text{
    margin-top: 50px;
    text-align: center;  
   }
   .company-logo{
    flex-direction: column;
    gap: 40px;
    align-items: center;
   }
   .company-logo img{
    width: 200px;
   }
  
}